.width{
	 width: 60%;
	 height: 20px;
	 border: 1px solid #ccc;
 	 border-radius: 4px;
 	 text-align: center;
	height: 30px;
}
 
.width1{
	 width: 80%;
	 height: 20px;
	 border: 1px solid #ccc;
 	 border-radius: 4px;
 	 text-align: center;
	height: 30px;
}
 
.left{
	
	text-align: right;
	margin-right: 50px;
}
 	 


.box{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	background: #fff; 
	

}

.textarea {
  width: 65%;
  height: 90px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;

}


button{
  background-color: #444240;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
span{  font: normal bold arial;}
