
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template3">


<head>
<meta charset="utf-8" />
<title>charts</title>


<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
   //   google.charts.load('current', {'packages':['bar']});
     // google.charts.setOnLoadCallback(drawChart);
      $(document)
			.ready(
					function() {
      $.ajax({
			type : "GET",
			dataType : "json",
			contentType : "application/json",
			url : "/api/chart/cat1",
			success : function(result) {
				console.log(result);
				google.charts.load('current', {
					'packages' : [ 'bar' ]
				});
				google.charts.setOnLoadCallback(function() {
					console.log(result);
					drawChart(result);
				});
			}
      });
      function drawChart(result) {
          var data = google.visualization.arrayToDataTable([
            ['Statut', 'correctives', 'amelioratives', 'evolutives'],
            ['finalisées',result.finalisees.correctives,result.finalisees.amelioratives, result.finalisees.evolutives],
            ['en cours',result.enCours.correctives,result.enCours.amelioratives, result.enCours.evolutives]
         
          ]);
          
          
          
          
          
          
          
  			var dt = [];
          
          const names= result.ret4.map(ii => 
          
          		dt.push([ii.name, ii.finalisees, ii.enCours])
          		
          
          );
          
          dt.unshift(['Direction', 'Finalisées', 'en cours']);
         console.log(dt);
          
                  
          var data2 = google.visualization.arrayToDataTable(dt);
          
          var options = {
            chart: {
              title: 'Performance de la direction ',
              subtitle: 'MCO',
              
            }
          };

          var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

          chart.draw(data, google.charts.Bar.convertOptions(options));
          
          var chart2 = new google.charts.Bar(document.getElementById('piechart'));

          chart2.draw(data2, google.charts.Bar.convertOptions(options));
      
					

	

      }
					});
    </script>

</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<table>
				<tr>
			<!-- 		<td><div id="piechart" style="border: 1px solid #ccc"></div></td> -->
					<td><div id="columnchart_material" style="width: 800px; height: 500px;"></div></td>
					
					<td><div id="piechart" style="width: 800px; height: 500px;"></div></td> 
				</tr>
			</table>
		</div>

	</div>
</body>
</html>