<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1"> 
<head>
<meta charset="utf-8"/>
<title>initiateur</title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
  th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" href="../static/style.css"
  th:href="@{/css/style.css}"/>
</head>
<body class="container spacer">
<!-- afficher un formulaire de saisi -->
<div layout:fragment="content">
	<div >   <!-- //spacer ne fonctionne pas -->
		
			<div class="panel-heading">Modification d'un initiateur</div>
			
			<br>
			<div class="panel-body">
				<div class="form-group">
					<label>ID:</label>
					<label th:text="${initiateur.iniId}"></label>
				</div>
				<div class="form-group">
				    <label>Nom:</label>
					<label th:text="${initiateur.iniName}"></label>
				</div>
				<div class="form-group">
				    <label>Prénom:</label>
					<label th:text="${initiateur.iniPrenom}"></label>
				</div>
				<div class="form-group">
				    <label>Email:</label>
					<label th:text="${initiateur.iniEmail}"></label>
				</div>
				<div class="form-group">
				    <label>Téléphone:</label>
					<label th:text="${initiateur.iniNumTel}"></label>
				</div>
			</div>	
			</div>
		</div>
	
	</div>
	
</body>
</html>