<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
> 
<head>
<meta charset="utf-8"/>
<title>confirmation</title>
 <link rel="stylesheet" type="text/css"
href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css"
href="../static/css/style.css"
th:href="@{/css/style.css}"/>
</head>
<body>
<!-- afficher un formulaire de saisi -->
   <div layout:fragment="content" >
	<div class="container spacer col-md-6 col-xs-12" >
		<div class="panel panel-default">
			<div class="panel-heading">Votre demande d'inscription a été envoyée</div>
			<div class="panel-body">
				
				<div class="form-group">
				    <label>Nom:</label>
					<label th:text="${users.iniName}"></label>
				</div>
				
				<div class="form-group">
				    <label>prenom:</label>
					<label th:text="${users.iniPrenom}"></label>
				</div>
				
				<div class="form-group">
				    <label>username:</label>
					<label th:text="${users.username}"></label>
				</div>
				
				<div class="form-group">
				    <label>Nom Département:</label>
					<label th:text="${users.depName}"></label>
				</div>
				<div class="form-group">
				    <label>Nom Direction:</label>
					<label th:text="${users.directName}"></label>
				</div>
				<div class="form-group">
				    <label>matricule:</label>
					<label th:text="${users.matricule}"></label>
				</div>
			
				
				
			</div>	
			</div>
		</div>
	
	</div>
	
</body>
</html>