<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="utf-8" />
<title>departement</title>
<!-- <link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css"
href="../static/css/style.css"
th:href="@{/css/style.css}"/> -->
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body class="container spacer">
	
		<div class="container" layout:fragment="content" >
			<form th:action="@{dep}" method="get">
				<label>Mot Clé:</label> <input type="text" name="mc2"
					th:value="${mc2}" />
				<button class="btn btn-primary">Chercher</button>
			</form>
			<ul>
			<li><a style="color:#000000" th:href="@{/formdep}">Ajouter departement</a></li>

		</ul>
		<div class="container">
			<h3>Liste Des departement</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom du departement</th>
						<th>Nom du directeur</th>
					    <th>Nom de la direction</th>
					</tr>

				</thead>
				<tbody>
					<tr th:each="p:${listDepartements}">
						<td th:text="${p.depId}"></td>
						<td th:text="${p.depName}"></td>
						<td th:text="${p.directDep}"></td>
						<td th:text="${p.directionName}"></td>
						<td><a th:href="@{editdep(id=p.depId)}"></a></td>
						<td><a th:href="@{editdep(depId=${p.depId},page=${pageCourante},size=${size},mc2=${mc2})}">Edit</a></td>
					    <td><a onclick="return confirm('Etes vous sure?')"
							th:href="@{deletedep(depId=${p.depId},page=${pageCourante},size=${size},mc2=${mc2})}">Delete</a></td>
					</tr>

				</tbody>

			</table>
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li th:class="${pageCourante}==${status.index}?'active':''"
					th:each="page,status:${pages}"><a
					th:href="@{dep(page=${status.index},size=${size},mc2=${mc2})}"
					th:text="${status.index}"></a>
				</li>
			</ul>
		</div>
		</div>
	

</body>
</html>