<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1"> 
<head>
<meta charset="utf-8"/>
<title>sous programme</title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
  th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" href="../static/style.css"
  th:href="@{/css/style.css}"/>
</head>
<body>
<!-- afficher un formulaire de saisi -->
<div layout:fragment="content">
	<div class=" spacer col-md-6 col-xs-12" >   <!-- //spacer ne fonctionne pas -->
		<div class="panel panel-default">
			<div class="panel-heading">Saisie d'un sous programme</div>
			<div class="panel-body">
				<form th:action="@{saveprog}" method="post">
				
					<div class="form-group">
						<label class="controle-label">libelle:</label>
					
					    <input class="form-control" type="text" name="libelle"
					    th:value="${sProgramme.libelle}"/>
					    <span class="red" th:errors="${sProgramme.libelle}"></span>
					</div>
					<div class="form-group">
						<label class="controle-label">descriptif</label>
					
					    <input class="form-control" type="text" name="descriptif"
					    th:value="${sProgramme.descriptif}"/>
					     <span class="red" th:errors="${sProgramme.descriptif}"></span>
					</div>
					
					
					<button type="submit" class="btn btn-primary">save</button>
				</form>
			</div>
		</div>
		</div>
	
	</div>
	
</body>
</html>