<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1"> 
<head>
<meta charset="utf-8"/>
<title>initiateur</title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
  th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" href="../static/style.css"
  th:href="@{/css/style.css}"/>
</head>
<body class="container spacer">
<!-- afficher un formulaire de saisi -->
<div layout:fragment="content">
	<div >   <!-- //spacer ne fonctionne pas -->
		<div class="panel panel-default">
			<div class="panel-heading">Saisie d'un initiateur</div>
			<div class="panel-body">
				<form th:action="@{save}" method="post">
				 <div class="form-group">
						<label class="controle-label">ID:</label>
					
					    <input class="form-control" type="text" name="iniId"
					    th:value="${initiateur.iniId}"/>
					    <span class="red" th:errors="${initiateur.iniId}"></span>
					</div>
					<div class="form-group">
						<label class="controle-label">Nom:</label>
					
					    <input class="form-control" type="text" name="iniName"
					    th:value="${initiateur.iniName}"/>
					    <span class="red" th:errors="${initiateur.iniName}"></span>
					</div>
					<div class="form-group">
						<label class="controle-label">Prenom:</label>
					
					    <input class="form-control" type="text" name="iniPrenom"
					    th:value="${initiateur.iniPrenom}"/>
					     <span class="red" th:errors="${initiateur.iniPrenom}"></span>
					</div>
					<div class="form-group">
						<label class="controle-label">Email:</label>
					
					    <input class="form-control" type="text" name="iniEmail"
					    th:value="${initiateur.iniEmail}"/>
					     <span class="red" th:errors="${initiateur.iniEmail}"></span>
					</div>
					<div class="form-group">
						<label class="controle-label">NumTelephone:</label>
					
					    <input class="form-control" type="text" name="iniNumTel"
					    th:value="${initiateur.iniNumTel}"/>
					     <span class="red" th:errors="${initiateur.iniNumTel}"></span>
					</div>
					<button type="submit" class="btn btn-primary">save</button>
				</form>
			</div>
		</div>
		</div>
	
	</div>
	
</body>
</html>