<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1"> 
<head>
<meta charset="utf-8"/>
<title>responsableMCO</title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
  th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" href="../static/style.css"
  th:href="@{/css/style.css}"/>
</head>
<body class="container spacer">
<!-- afficher un formulaire de saisi -->
<div layout:fragment="content">
	<div >   <!-- //spacer ne fonctionne pas -->
		<div class="panel panel-default">
			<div class="panel-heading">Modification d'un responsable MCO</div>
			<div class="panel-body">
				<form th:action="@{saveres}" method="post">
				<div class="form-group">
						<label class="controle-label">ID:</label>
					
					    <input class="form-control" type="text" name="resId" readonly="true"
					    th:value="${responsableMCO.resId}"/>
					    <span class="red" th:errors="${responsableMCO.resId}"></span>
					</div>
					<div class="form-group">
						<label class="controle-label">Nom:</label>
					
					    <input class="form-control" type="text" name="resName"
					    th:value="${responsableMCO.resName}" required placeholder=""
    oninvalid="this.setCustomValidity('Ce champ est OBLIGATOIRE')"
    oninput="this.setCustomValidity('')"/>
					    <span class="red" th:errors="${responsableMCO.resName}"></span>
					</div>
					<div class="form-group">
						<label class="controle-label">Prénom:</label>
					
					    <input class="form-control" type="text" name="resPrenom"
					    th:value="${responsableMCO.resPrenom}" required placeholder=""
    oninvalid="this.setCustomValidity('Ce champ est OBLIGATOIRE')"
    oninput="this.setCustomValidity('')"/>
					     <span class="red" th:errors="${responsableMCO.resPrenom}"></span>
					</div>
					<div class="form-group">
						<label class="controle-label">Email:</label>
					
					    <input class="form-control" type="email" name="resEmail"
					    th:value="${responsableMCO.resEmail}" required placeholder="Entrer un Email valide"
    oninvalid="this.setCustomValidity('Entrer un Email valide')"
    oninput="this.setCustomValidity('')"/>
					     <span class="red" th:errors="${responsableMCO.resEmail}"></span>
					</div>
					<div class="form-group">
						<label class="controle-label">Téléphone:</label>
					
					    <input class="form-control" type="text" name="resNumTel"
					    th:value="${responsableMCO.resNumTel}"  required maxlength="15" 
    oninvalid="this.setCustomValidity('La taille deverait être entre 10 et 15')"
    oninput="this.setCustomValidity('')"/>
					     <span class="red" th:errors="${responsableMCO.resNumTel}"></span>
					</div>
					<button type="submit" class="btn btn-primary">Valider</button>
				</form>
			</div>
		</div>
		</div>
	
	</div>
	
</body>
</html>