
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1"> 

<head>
<meta charset="utf-8"/>
<title>Demande de Maintenance </title>
	<link rel="stylesheet" type="text/css" 
	/>
</head>


<body>
<!-- afficher un formulaire de saisi -->
<div layout:fragment="content">
	<div class=" spacer col-md-6 col-xs-12" >   
		<div class="panel panel-default">
			<div class="panel-heading">Demande de Maintenance</div>
			<div class="panel-body">
				<form th:action="@{saveFiche}" method="post">
					<div class="form-group">
						<label>Nom:</label>
					
					    <input class="form-control" type="text" name="iniName"
					    th:value="${fiche.iniName}"/>
					    <span class="red" th:errors="${fiche.iniName}"></span>
					</div>
					<div class="form-group">
						<label>Prenom:</label>
					
					    <input class="form-control" type="text" name="iniPrenom"
					    th:value="${fiche.iniPrenom}"/>
					     <span class="red" th:errors="${fiche.iniPrenom}"></span>
					</div>
					<div class="form-group">
						<label>Direction:</label>
					
					    <input class="form-control" type="text" name="NomDirection"
					    th:value="${fiche.NomDirection}"/>
					     <span class="red" th:errors="${fiche.NomDirection}"></span>
					</div>
					<div class="form-group">
						<label>Département:</label>
					
					    <input class="form-control" type="text" name="NomDepart"
					    th:value="${fiche.NomDepart}"/>
					     <span class="red" th:errors="${fiche.NomDepart}"></span>
					</div>
					
					<div class="form-group">
						<label>Application:</label>
					
					    <input class="form-control" type="text" name="NomApplication"
					    th:value="${fiche.NomApplication}"/>
					     <span class="red" th:errors="${fiche.NomApplication}"></span>
					</div>
					
					
					<div class="form-group">
						<label>Intitulé de la maintenance:</label>
					
					    <input class="form-control" type="text" name="intituleMaintenance"
					    th:value="${fiche.intituleMaintenance}"/>
					     <span class="red" th:errors="${fiche.intituleMaintenance}"></span>
					</div>
					
					<!-- <div class="form-group">
						<label>Date Envoi:</label>
					
					   <input class="form-control" type="text"  id='d1' name='d1'
					    th:value="${fiche.dateEnvoi}"/>
					    <span class="red" th:errors="${fiche.dateEnvoi}"></span>
					</div>  -->
						<button type="submit" class="btn btn-primary">envoyer</button>
				</form>
			</div>
		</div>
	</div>
	
<script type="text/javascript">     
d = new Date();  
document.write("<p>Date : <span style='color:#8aa;'>"); 
document.write(d.toLocaleDateString());  
document.write("</span></p>"); </script>
				

<!-- <script type="text/javascript">     
d = new Date();   
document.write("<p>Date : <span style='color:#8aa;'>");   
document.write(d.toLocaleDateString());  
document.write("</span></p>"); 
</script> -->
 
<!-- <script type="text/javascript">
var d1 = new Date();
var y1= d1.getFullYear();
var m1 = d1.getMonth()+1;
if(m1<10)
    m1="0"+m1;
var dt1 = d1.getDate();
if(dt1<10)
dt1 = "0"+dt1;
var d2 = y1+"-"+m1+"-"+dt1;
document.getElementById('d1').value=d2;
</script>   -->
</div>
</body>
