
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template2">

<head>
<meta charset="utf-8" />
<title>Demande de Maintenance</title>
<link rel="stylesheet" type="text/css" />
</head>


<body>
	<!-- afficher un formulaire de saisi -->
	<div layout:fragment="content">
		<div class=" spacer col-md-6 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">Demande de Maintenance</div>
				<div class="panel-body">
					<div class="form-group">							
                   <label>Département:</label>
                  
						<form th:action="@{/fiche}" method="get" id="form" >
						 
							<div class="div_box" th:action="@{/fiche}" method="get" id="form">
							<input class="form-control"
									type="hidden" name="NomDepart" th:value="${NomDepart}" />
								<select id="depId" name="depName"
									onchange="document.getElementById('form').submit();">
									<option th:value="top" th:text="${selectDepartement}"></option>
									<option th:each="dep : ${departement}" th:value="${dep.depName}"
										th:text="${dep.depName}"></option>

								</select> <br>

							</div>
							
						</form>
						</div>

						<form th:action="@{/saveFiche}" method="post">
						<div class="form-group">
								 <input type="hidden" name="NomDepart" th:value="${ficheSuivi.NomDepart}" />
							</div>
							<div class="form-group">
								<label>Initiateur:</label> <input class="form-control"
									type="text" name="iniName" th:value="${ficheSuivi.iniName}" />
								<span class="red" th:errors="${ficheSuivi.iniName}"></span>
							</div>
	
							<div class="form-group">
								<label>Direction:</label> <input class="form-control"
									type="text" name="NomDirection" th:value="${directName}" /> <span
									class="red" th:errors="${ficheSuivi.NomDirection}"></span>
							</div>

							<div class="form-group">
								<label>Application:</label> <input class="form-control"
									type="text" name="NomApplication"
									th:value="${ficheSuivi.NomApplication}" /> <span class="red"
									th:errors="${ficheSuivi.NomApplication}"></span>
							</div>


							<div class="form-group">
								<label>Intitulé de la maintenance:</label> <input
									class="form-control" type="text" name="intituleMaintenance"
									th:value="${ficheSuivi.intituleMaintenance}" /> <span
									class="red" th:errors="${ficheSuivi.intituleMaintenance}"></span>
							</div>



							<button type="submit" class="btn btn-primary">Envoyer</button>

							
						</form>
					</div>
				</div>
			</div>


			<script
				src="https://ajax.googleapis.com/ajax/libs/  
                  jquery/3.3.1/jquery.min.js"></script>


			<script type="text/javascript">
				d = new Date();
				document.write("<p>Date : <span style='color:#8aa;'>");
				document.write(d.toLocaleDateString());
				document.write("</span></p>");
			</script>

			<script type="text/javascript">
				var d1 = new Date();
				var y1 = d1.getFullYear();
				var m1 = d1.getMonth() + 1;
				if (m1 < 10)
					m1 = "0" + m1;
				var dt1 = d1.getDate();
				if (dt1 < 10)
					dt1 = "0" + dt1;
				var d2 = y1 + "-" + m1 + "-" + dt1;
			</script>
			


		</div>
</body>