<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1"> 
<head>
<meta charset="utf-8"/>
<title>departement</title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
  th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" href="../static/style.css"
  th:href="@{/css/style.css}"/>
</head>
<body>
<!-- afficher un formulaire de saisi -->
<div layout:fragment="content">
	<div class=" spacer col-md-6 col-xs-12" >   <!-- //spacer ne fonctionne pas -->
		<div class="panel panel-default">
			<div class="panel-heading">Saisie d'un departement</div>
			<div class="panel-body">
				<form th:action="@{savedep}" method="post">
					<div class="form-group">
						<label>Nom:</label>
					
					    <input class="form-control" type="text" name="depName"
					    th:value="${departement.depName}"/>
					    <span class="red" th:errors="${departement.depName}"></span>
					</div>
					<div class="form-group">
						<label>Nom du direteur</label>
					
					    <input class="form-control" type="text" name="directDep"
					    th:value="${departement.directDep}"/>
					     <span class="red" th:errors="${departement.directDep}"></span>
					</div>
					<div class="form-group">
						<label>Nom de la diretion</label>
					
					    <input class="form-control" type="text" name="directionName"
					    th:value="${departement.directionName}"/>
					     <span class="red" th:errors="${departement.directionName}"></span>
					</div>
					
					<button type="submit" class="btn btn-primary">save</button>
				</form>
			</div>
		</div>
		</div>
	
	</div>
	
</body>
</html>