<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="template1"> 
<head>
<meta charset="utf-8"/>
<title>initiateur</title>
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
  th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" href="../static/style.css"
  th:href="@{/css/style.css}"/>
</head>
<body class="container spacer">
<!-- afficher un formulaire de saisi -->
<div layout:fragment="content">
	<div  >   <!-- //spacer ne fonctionne pas -->
		<div class="panel panel-default">
			<div class="panel-heading">Ajout d'un initiateur</div>
			<div class="panel-body">
				<form th:action="@{save}" method="post">
					<div class="form-group">
						<label>Nom:</label><span class=red> *</span>
					
					    <input class="form-control" type="text" name="iniName"
					    th:value="${initiateur.iniName}" required placeholder=""
    oninvalid="this.setCustomValidity('Ce champ est OBLIGATOIRE')"
    oninput="this.setCustomValidity('')" />
					    <span class="red" th:errors="${initiateur.iniName}"></span>
					</div>
					<div class="form-group">
						<label>Prénom:</label><span class=red> *</span>
					
					    <input class="form-control" type="text" name="iniPrenom"
					    th:value="${initiateur.iniPrenom}" required placeholder=""
    oninvalid="this.setCustomValidity('Ce champ est OBLIGATOIRE')"
    oninput="this.setCustomValidity('')"/>
					     <span class="red" th:errors="${initiateur.iniPrenom}"></span>
					</div>
					<div class="form-group">
						<label>Email:</label><span class=red> *</span>
					
					    <input class="form-control" type="email" name="iniEmail"
					    th:value="${initiateur.iniEmail}" required placeholder="Entrer un Email valide"
    oninvalid="this.setCustomValidity('Entrer un Email valide')"
    oninput="this.setCustomValidity('')"/>
					     <span class="red" th:errors="${initiateur.iniEmail}"></span>
					</div>
					<div class="form-group">
						<label>Téléphone:</label><span class=red> *</span>
					
					    <input class="form-control" type="text" name="iniNumTel"
					    th:value="${initiateur.iniNumTel}" required maxlength="15" 
    oninvalid="this.setCustomValidity('La taille deverait être entre 10 et 15')"
    oninput="this.setCustomValidity('')" />
					     <span class="red" th:errors="${initiateur.iniNumTel}"></span>
					</div>
					<button type="submit" class="btn btn-primary">Valider</button>
				</form>
			</div>
		</div>
		</div>
	
	</div>
	
</body>
</html>