<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template2">
<head>
<meta charset="utf-8" />
<title>Fiche suivi</title>

<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body class="container spacer">
	
		<div class="container" layout:fragment="content"  >
			<form th:action="@{historiqueIniS}" method="get">
				<label>Mot Clé:</label> <input type="text" name="mcf"
					th:value="${mcf}" />
				<button class="btn btn-primary">Chercher</button>
			</form>
			
		<div class="container">
			<h3>Liste Fiches Suivi</h3>
			<table class="table table-striped table-bordered table-responsive" role="grid">
				<thead>
					<tr>
						<!-- <th>Referentiel:</th> -->
						<th>Initiateur:</th>
						<th>Departement:</th>
						<th>Direction:</th>
						<th>Application:</th>
						<th>Intitule de la Maintenance:</th>
					    <th>Type de la maintenance:</th>
						<th>Nom du ResponsableMCO:</th>
						<th>Statut de la maintenance:</th>
						<th>Remarques:</th>
						
						
						
					</tr>

				</thead>
				<tbody>
					<tr role="row" class="odd" th:each="fs:${listFicheSuivis}" >
						
						<td th:text="${fs.iniName}"></td>
						<td th:text="${fs.NomDepart}"></td>
						<td th:text="${fs.NomDirection}"></td>
						<td th:text="${fs.NomApplication}"></td>
						<td th:text="${fs.intituleMaintenance}"></td>
						<td th:text="${fs.type}"></td>
						<td th:text="${fs.respo}"></td>
						<td th:text="${fs.statut}"></td>
						<td th:text="${fs.remarque}"></td>
					</tr>

				</tbody>

			</table>
		
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li th:class="${pageCourante}==${status.index}?'active':''"
					th:each="fs,status:${pages}"><a
					th:href="@{ficheList(page=${status.index},size=${sizei},mcf=${mcf})}"
					th:text="${status.index}"></a>
				</li>
			</ul>
		</div>
		</div>
	

</body>
</html>