<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template3">
<head>
<meta charset="utf-8" />
<title>Fiche de suivi</title>

<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body class="container spacer">
	
		<div class="container" layout:fragment="content"  >
			<form th:action="@{ficheList}" method="get">
				<label>Mot Clé:</label> <input type="text" name="mc"
					th:value="${mc}" />
				<button class="btn btn-primary">Chercher</button>
			</form>
			
		<div class="container">
			<h3>Liste des fiches de Suivi</h3>
			<table class="table table-striped table-bordered table-responsive" role="grid">
				<thead>
					<tr>
						<th>Referentiel:</th>
						<th>Initiateur:</th>
						<th>Département:</th>
						<th>Direction:</th>
						<th>Application:</th>
						<th>Intitulée de la Maintenance:</th>
						<th>Date d'envoi et Réception:</th>
						<th>Type de la maintenance:</th>
						<th>Nom du Responsable MCO:</th>
						<th>Date de prise en charge:</th>
						<th>Charge estimée DEV:</th>
						<th>Charge consommée:</th>
						<th>Taux d'avancement:</th>
						<th>Statut de la maintenance:</th>
						<th>Date mise en production:</th>
						<th>Date de la dernière modification:</th>
						<th>Motifs et Remarques:</th>
					</tr>

				</thead>
				<tbody>
					<tr role="row" class="odd" th:each="fs:${listFicheSuivis}" >
						<td th:text="${fs.ref}"></td>
						<td th:text="${fs.iniName}"></td>
						<td th:text="${fs.NomDepart}"></td>
						<td th:text="${fs.NomDirection}"></td>
						<td th:text="${fs.NomApplication}"></td>
						<td th:text="${fs.intituleMaintenance}"></td>
						<td th:text="${fs.dateEnvoi}"></td>
						<td th:text="${fs.type}"></td>
						<td th:text="${fs.respo}"></td>
						<td th:text="${fs.dateCharge}"></td>
						<td th:text="${fs.chargeEstim}"></td>
						<td th:text="${fs.chargeConsom}"></td>
						<td th:text="${fs.tauxAvanc}"></td>
						<td th:text="${fs.statut}"></td>
						<td th:text="${fs.dateProd}"></td>
						<td th:text="${fs.dateModif}"></td>
						<td th:text="${fs.remarque}"></td>
						<td><a th:href="@{editfiSui(id=fs.ref)}"></a></td>
						<td><a th:href="@{editfiSui(ref=${fs.ref},page=${pageCourante},size=${size},mc=${mc})}">Modifier</a></td>
					    <td><a onclick="return confirm('Etes vous sure?')"
							th:href="@{deleteFiSui(ref=${fs.ref},page=${pageCourante},size=${size},mc=${mc})}">Supprimer</a></td>
						
					</tr>

				</tbody>

			</table>
		
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li th:class="${pageCourante}==${status.index}?'active':''"
					th:each="fs,status:${pages}"><a
					th:href="@{ficheList(page=${status.index},size=${size},mc=${mc})}"
					th:text="${status.index}"></a>
				</li>
			</ul>
		</div>
		</div>
	

</body>
</html>