<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="utf-8" />
<title>initiateur</title>

<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body class="container spacer">
	
		<div class="container" layout:fragment="content" >
			<form th:action="@{/init}" method="get">
				<label>Mot Clé:</label> <input type="text" name="mc"
					th:value="${mc}" />
				<button class="btn btn-primary">Chercher</button>
			</form>
			<ul>
			<li><a style="color:#000000" th:href="@{/form}">Ajouter un membre</a></li>

		</ul>
		<div class="container">
			<h3>Liste des initiateurs</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Email</th>
						<th>Téléphone</th>
					</tr>

				</thead>
				<tbody>
					<tr th:each="i:${listInitiateurs}">
						<td th:text="${i.iniId}"></td>
						<td th:text="${i.iniName}"></td>
						<td th:text="${i.iniPrenom}"></td>
						<td th:text="${i.iniEmail}"></td>
						<td th:text="${i.iniNumTel}"></td>
						<td><a th:href="@{edit(id=i.iniId)}"></a></td>
						<td><a th:href="@{edit(iniId=${i.iniId},page=${pageCourante},size=${size},mc=${mc})}">Modifier</a></td>
					    <td><a onclick="return confirm('Etes vous sure?')" class="changeBack"
							th:href="@{delete(iniId=${i.iniId},page=${pageCourante},size=${size},mc=${mc})}">Supprimer</a></td>
					</tr>

				</tbody>

			</table>
		
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li th:class="${pageCourante}==${status.index}?'active':''"
					th:each="i,status:${pages}"><a
					th:href="@{init(page=${status.index},size=${size},mc=${mc})}"
					th:text="${status.index}"></a>
				</li>
			</ul>
		</div>
		</div>
	

</body>
</html>