<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template2">
<head>
<meta charset="utf-8" />
<title>Liste Demandes</title>

<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body class="container spacer">
	
		<div class="container" layout:fragment="content" >
			<form th:action="@{listDemande}" method="get">
				<label>Mot Clé:</label> <input type="text" name="motcle"
					th:value="${motcle}" />
				<button class="btn btn-primary">Chercher</button>
			</form>
			
		<div class="container">
			<h3>Liste Des Demandes</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Intitulé de la maintenance</th>
						<th>Nom de l'application</th>
						<th>date d'envoi</th>	
					</tr>

				</thead>
				<tbody>
					<tr th:each="fs:${listFicheSuivis}" >
						<td th:text="${fs.ref}">le referentiel</td>
						<td th:text="${fs.intituleMaintenance}">Intitulé de la maintenance</td>
						<td th:text="${fs.NomApplication}">Application</td>
						<td th:text="${fs.dateEnvoi}">Date Envoi</td>
						<td><a th:href="@{editfiSui(ref=${fs.ref},page=${pageCourante},size=${size},mc5=${mc5})}">Afficher</a></td>
					</tr>

				</tbody>

			</table>
		
		</div>
		<div class="container">
			<ul class="nav nav-pills">
				<li th:class="${pageCourante}==${status.index}?'active':''"
					th:each="fs,status:${pages}"><a
					th:href="@{listFicheSuivis(page=${status.index},size=${size},mc5=${mc5})}"
					th:text="${status.index}"></a>
				</li>
			</ul>
		</div>
		</div>
	

</body>
</html>