<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template3">
<head>
<meta charset="utf-8" />
<title>motif</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/style.css"
	th:href="@{/css/style.css}" />
</head>
<body class="container spacer">
	<!-- afficher un formulaire de saisi -->
	<div layout:fragment="content">
		<div>
			<!-- //spacer ne fonctionne pas -->
			<div class="panel panel-default">
				<div class="panel-heading">modification fiSui</div>
				<div class="panel-body">
					<form th:action="@{/saveFicheSui}" method="post">
<div class="form-group">
						
						<div class="form-group">
							<label>motif et Remarques:</label> <input class="form-control"
								type="text" name="iniName" th:value="${ficheSuivi.remarque}" />
							<span class="red" th:errors="${ficheSuivi.remarque}"></span>

						</div>
	</div>					
</form>

			</div>
		</div>

</div>

	</div>

</body>
</html>